# Remove the line below if you want to inherit .editorconfig settings from higher directories
root = true

# C# files
[*.cs]

#### Core EditorConfig Options ####

# Indentation and spacing
indent_size = 4
indent_style = space
tab_width = 4

# New line preferences
end_of_line = lf
insert_final_newline = true

# Analyzer severities
# IDE0005: Using directive is unnecessary
dotnet_diagnostic.IDE0005.severity = warning
# CA1873: Potentially expensive logging argument evaluation
dotnet_diagnostic.CA1873.severity = none