name: Deploy Lambda
description: Deploy image to a Lambda function to AWS

inputs:
  environment:
    description: The environment to which the image will be deployed.
    required: true
  aws_account:
    description: The AWS Account ID.
    required: true
  region:
    description: The AWS Region of the AWS Account.
    required: true
  app_name:
    description: The application name.
    required: true
  lambda:
    description: The lambda function info.
    required: true
  aws_role_arn:
    description: The AWS Role ARN to assume.
    required: true
  ghcr_token:
    description: The token to use to login to the GHCR.
    required: true
  github_image_repo:
    description: The GCHR repo where images are stored.
    required: true
  short_sha:
    description: The short SHA used to tag image in GCHR.
    required: true

runs:
  using: composite

  steps:
    - name: Parse Resource and Lambda Name
      shell: bash
      env:
        GH_LAMBDA: ${{ inputs.lambda }}
      run: |
        echo "Lambda: $GH_LAMBDA"
        
        # Extract RESOURCE and LAMBDA
        RESOURCE="${GH_LAMBDA%%/*}"
        LAMBDA="${GH_LAMBDA##*/}"
        
        # Save variables as ENV var
        echo "RESOURCE=$RESOURCE" >> $GITHUB_ENV
        echo "LAMBDA=$LAMBDA" >> $GITHUB_ENV
        echo "IMAGE_NAME=${RESOURCE}.${LAMBDA}" >> $GITHUB_ENV

    - name: Set reusable variables
      id: vars
      shell: bash
      env:
        GH_AWS_ACCOUNT: ${{ inputs.aws_account }}
        GH_REGION: ${{ inputs.region }}
        GH_APP_NAME: ${{ inputs.app_name }}
        GH_ENVIRONMENT: ${{ inputs.environment }}
        GH_TIER_NAME: ${{ inputs.tier_name }}
      run: |
        echo "full_ecr_repo_url=${GH_AWS_ACCOUNT}.dkr.ecr.${GH_REGION}.amazonaws.com/${GH_APP_NAME}-lambda-repo-${GH_ENVIRONMENT}" >> $GITHUB_OUTPUT
        echo "container_name=${GH_APP_NAME}-${GH_TIER_NAME}-container-${GH_ENVIRONMENT}" >> $GITHUB_OUTPUT

    - name: Log in to the GHCR
      uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ inputs.ghcr_token }}

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5.1.1
      with:
        role-skip-session-tagging: true
        aws-region: ${{ inputs.region }}
        role-to-assume: ${{ inputs.aws_role_arn }}
        role-duration-seconds: 1800
        role-session-name: ci-deployment

    - name: Login to Amazon ECR
      uses: aws-actions/amazon-ecr-login@062b18b96a7aff071d4dc91bc00c4c1a7945b076 # v2.0.1

    - name: Check ECR Image exists
      id: ecr-check
      shell: bash
      env:
        GH_IMAGE_NAME: ${{ env.IMAGE_NAME }}
        GH_SHORT_SHA: ${{ inputs.short_sha }}
        GH_APP_NAME: ${{ inputs.app_name }}
        GH_ENVIRONMENT: ${{ inputs.environment }}
      run: |
        IMAGE_TAG="${GH_IMAGE_NAME}-${GH_SHORT_SHA}"
        REPOSITORY_NAME="${GH_APP_NAME}-lambda-repo-${GH_ENVIRONMENT}"
        
        IMAGE_EXISTS=$(aws ecr describe-images --repository-name "$REPOSITORY_NAME" --query "imageDetails[?contains(imageTags, \`${IMAGE_TAG}\`)]" --output text)

        if [ -z "$IMAGE_EXISTS" ]; then
          echo "Image with tag $IMAGE_TAG does not exist."
          echo "exists=false" >> $GITHUB_OUTPUT
        else
          echo "Image with tag $IMAGE_TAG already exists."
          echo "exists=true" >> $GITHUB_OUTPUT
        fi

    - name: Push if Docker image does not exist
      if: steps.ecr-check.outputs.exists == 'false'
      shell: bash
      env:
        GH_GITHUB_IMAGE_REPO: ${{ inputs.github_image_repo }}
        GH_IMAGE_NAME: ${{ env.IMAGE_NAME }}
        GH_SHORT_SHA: ${{ inputs.short_sha }}
        GH_FULL_ECR_REPO_URL: ${{ steps.vars.outputs.full_ecr_repo_url }}
      run: |
        docker pull "${GH_GITHUB_IMAGE_REPO}/${GH_IMAGE_NAME}:${GH_SHORT_SHA}"
        docker tag "${GH_GITHUB_IMAGE_REPO}/${GH_IMAGE_NAME}:${GH_SHORT_SHA}" "${GH_FULL_ECR_REPO_URL}:${GH_IMAGE_NAME}-${GH_SHORT_SHA}"
        docker push "${GH_FULL_ECR_REPO_URL}:${GH_IMAGE_NAME}-${GH_SHORT_SHA}"

    - name: Update Lambda Function
      shell: bash
      env:
        GH_APP_NAME: ${{ inputs.app_name }}
        GH_LAMBDA: ${{ env.LAMBDA }}
        GH_ENVIRONMENT: ${{ inputs.environment }}
        GH_FULL_ECR_REPO_URL: ${{ steps.vars.outputs.full_ecr_repo_url }}
        GH_IMAGE_NAME: ${{ env.IMAGE_NAME }}
        GH_SHORT_SHA: ${{ inputs.short_sha }}
      run: |
        aws lambda update-function-code \
          --function-name "${GH_APP_NAME}-${GH_LAMBDA}-lambda-${GH_ENVIRONMENT}" \
          --image-uri "${GH_FULL_ECR_REPO_URL}:${GH_IMAGE_NAME}-${GH_SHORT_SHA}"
