a:hover {
  color: inherit !important;
}

select {
  -webkit-appearance: auto !important;
  appearance: auto !important;
  border-style: solid !important;
}

.data-label {
  color: gray;
}

.has-tooltip {
  text-decoration: underline;
  text-decoration-style: dotted;
}

.table-banner,
.small-claims-table-banner,
.family-table-banner {
  color: white !important;
  text-transform: uppercase !important;
  height: 1rem !important;
  display: flex !important;
  align-items: center !important;
}
.table-banner {
  background-color: var(--bg-blue-500) !important;
}
.family-table-banner {
  background-color: var(--bg-green-500) !important;
}
.small-claims-table-banner {
  background-color: var(--bg-purple-500) !important;
}
.criminal-label {
  color: var(--bg-blue-500) !important;
}
.family-label {
  color: var(--bg-green-500) !important;
}
.small-label {
  color: var(--bg-purple-500) !important;
}

tbody tr:nth-of-type(odd) {
  background-color: var(--bg-black-50);
}

.expanded {
  background-color: var(--bg-white-600) !important;
  border: thin solid rgba(var(--v-border-color), var(--v-border-opacity)) !important;
  border-top: 0 !important;
}

.scrollable {
  max-height: 80vh !important;
  overflow-y: auto !important;
  scrollbar-color: transparent transparent !important;
  scrollbar-width: thin !important;
  --scrollbar-background: var(
    --styled-scrollbar-background,
    var(--shreddit-content-background)
  ) !important;
}
.scrollable:hover {
  scrollbar-color: var(--color-neutral-border) transparent !important;
}

/* Dashboard Common Styles */
.civil,
.small-claims {
  color: var(--text-purple-500);
}

.criminal {
  color: var(--text-blue-600);
}

.family {
  color: var(--text-green-500);
}

.mixed {
  color: var(--text-orange-500);
}

.non-sitting {
  color: var(--text-gray-400);
}

.sitting,
.judge-sitting {
  color: var(--text-red-500);
}

.specialty {
  color: var(--text-blue-900);
}
