a:hover {
  color: inherit !important;
}

select {
  -webkit-appearance: auto !important;
  appearance: auto !important;
  border-style: solid !important;
}

.data-label {
  color: gray;
}

.has-tooltip {
  text-decoration: underline;
  text-decoration-style: dotted;
}

.table-banner {
  background-color: var(--bg-blue) !important;
  color: white !important;
  text-transform: uppercase !important;
  height: 1rem !important;
  display: flex !important;
  align-items: center !important;
}

tbody tr:nth-of-type(odd) {
  background-color: var(--bg-translucent-black);
}

.expanded {
  background-color: var(--bg-off-white) !important;
  border: thin solid rgba(var(--v-border-color), var(--v-border-opacity)) !important;
  border-top: 0 !important;
}
