name: Build and Test Lambdas

on:
  pull_request:
    branches:
      - master
    paths:
      - "aws/**"

  workflow_dispatch:

env:
  WORKING_DIRECTORY: ./aws
  NODE_VERSION: 22

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Building Lambdas codebase
        uses: ./.github/workflows/actions/build-lambdas
        with:
          working_directory: ${{ env.WORKING_DIRECTORY }}
          node_version: ${{ env.NODE_VERSION }}
