name: Publish Openshift Images

on:
  workflow_dispatch:
  push:
    paths:
      - "docker/openshift/**"
      - "openshift/**"

env:
  GITHUB_IMAGE_REPO: ghcr.io/bcgov/jasper
  SRC_PATH: ../../docker/openshift

permissions:
  id-token: write
  packages: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    name: Deploy Images
    strategy:
      matrix:
        dockerfile-image:
          - Dockerfile=./docker/openshift/Dockerfile.sync-secrets,image=sync-secrets
          - Dockerfile=./docker/openshift/Dockerfile.update-aws-creds,image=update-aws-creds

    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Log in to the GHCR
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.0
        with:
          driver: docker

      - name: Parse Dockerfile and Image Name
        id: parse
        run: |
          echo "Dockerfile: ${{ matrix.dockerfile-image }}"
          DOCKERFILE=$(echo "${{ matrix.dockerfile-image }}" | cut -d',' -f1 | cut -d'=' -f2)
          IMAGE=$(echo "${{ matrix.dockerfile-image }}" | cut -d',' -f2 | cut -d'=' -f2)
          echo "DOCKERFILE=$DOCKERFILE" >> $GITHUB_ENV
          echo "IMAGE=$IMAGE" >> $GITHUB_ENV

      - name: Setup Image Metadata
        id: meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        with:
          images: |
            ${{ env.GITHUB_IMAGE_REPO }}/${{ env.IMAGE }}
          tags: |
            type=raw,value=latest

      - name: Build and Push Image to ghcr.io
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          push: true
          context: .
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          file: ${{ env.DOCKERFILE }}
          build-args: |
            SRC=${{ env.SRC_PATH }}